<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="parts/headPart :: header"></head>
<body>
<nav th:replace="parts/navbarPart :: navbar"></nav>
<div class="container" style="width: 100%; margin: 0 auto">

    <div class="row" id="infoPanel" style="width: 100%; height: 250px; display :flex; justify-content:space-between;">
        <div class="container" style="width: 100%;">
            <div class="row">
                <div class="container">
                    <div class="col-md-3">
                        <div class="card bg-dark text-white">
                            <h3 class="card-title text-center">
                                <div class="d-flex flex-wrap justify-content-center mt-2">
                                    <a><span class="badge hours"></span></a> :
                                    <a><span class="badge min"></span></a>
                                </div>
                            </h3>
                        </div>
                    </div>
                    <div class="row">
                        Hours:
                        <a href="/displayBarGraph?displayForLast=2" class="btn btn-primary">2</a>
                        <a href="/displayBarGraph?displayForLast=3" class="btn btn-primary">3</a>
                        <a href="/displayBarGraph?displayForLast=6" class="btn btn-primary">6</a>
                        <a href="/displayBarGraph?displayForLast=12" class="btn btn-primary">12</a>
                        <a href="/displayBarGraph?displayForLast=24" class="btn btn-primary">24</a>
                    </div>
                    <div class="row">
                        <label th:text="${device1?.getUploader()?.getBattery()}">DEVICE1 BATTERY LIFE</label>
                        <label th:text="${device1?.getDevice()}">DEVICE1 NAME</label> <br>
                        <label th:text="${device2?.getUploader()?.getBattery()}">DEVICE2 BATTERY LIFE</label>
                        <label th:text="${device2?.getDevice()}">DEVICE2 NAME</label> <br>
                        <label th:text="${latestReadingTime != null} ? ${latestReadingTime}">ERROR</label>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card bg-dark text-white">
                    <h3 class="card-title text-center">
                        <label th:text="${latestReading != null} ? ${latestReading}">0,0</label>
                    </h3>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card bg-dark text-white">
                    <h3 class="card-title text-center">
                        <label th:text="${lastReadingValue != null} ? ${lastReadingValue}">0,0</label>
                    </h3>
                </div>
            </div>
        </div>

        <div class="row" id="OnlineSugarChart"
         style="width: 100%; height: 50%; display :flex; justify-content:space-between; ">
    </div>
</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<script th:inline="javascript">
    $(function () {
        Highcharts.chart('OnlineSugarChart', {
            chart: {
                type: 'line'
            },
            legend:{ enabled:false },
            title: {
                text: ''
            },
            credits: {
                enabled: false
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: [[${sugarMap.keySet()}]],
                crosshair: true,
            },
            yAxis: {
                min: 2,
                max: 17,
                opposite: true,
                tickInterval: 2,
                title: {
                    text: ''
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td id="point-color" style="color:{series.color}; padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f} mmol</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                },
                series: {
                    lineWidth: 3
                }
            },
            series: [{
                name: '',
                data: [[${sugarMap.values()}]],
                zones: [{
                    value: [[${lowSugarLine}]],
                    color: '#f75c5c'
                }, {
                    value: [[${highSugarLine}]],
                    color: '#94ec7c'
                }, {
                    color: '#ede47d'
                }]
            }]
        });
    });
</script>

<script>
    $(document).ready(function() {
        setInterval( function() {
            var hours = new Date().getHours();
            $(".hours").html(( hours < 10 ? "0" : "" ) + hours);
        }, 1000);
        setInterval( function() {
            var minutes = new Date().getMinutes();
            $(".min").html(( minutes < 10 ? "0" : "" ) + minutes);
        },1000);
        setInterval( function() {
            var seconds = new Date().getSeconds();
            $(".sec").html(( seconds < 10 ? "0" : "" ) + seconds);
        },1000);
    });
</script>

</body>
</html>