<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="parts/headPart :: header"></head>
<body>
<nav th:replace="parts/navbarPart :: navbar"></nav>
<div class="container" style="width: 100%; height: 25%; margin: 0 auto">

    <div id="infoPanel" style="width: 100%; height: 25%; margin: 0 auto; display :flex; justify-content:space-between;">
        <div  style="height: 25%; float:left;
             background:blue;">Left DIV</div>
        <div style=" height: 150px; float:right;
             background:red;">RIGHT DIV</div>
    </div>
    <div id="OnlineSugarChart"
         style="width: 100%; height: 250px; display :flex; justify-content:space-between; ">
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<script th:inline="javascript">
    $(function () {
        Highcharts.chart('OnlineSugarChart', {
            chart: {
                type: 'line'
            },
            legend:{ enabled:false },
            title: {
                text: ''
            },
            credits: {
                enabled: false
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: [[${sugarMap.keySet()}]],
                crosshair: true,
            },
            yAxis: {
                min: 2,
                max: 17,
                opposite: true,
                tickInterval: 2,
                title: {
                    text: 'Sugar in mmol'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td id="point-color" style="color:{series.color}; padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f} mmol</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                },
                series: {
                    lineWidth: 3
                }
            },
            series: [{
                name: '',
                data: [[${sugarMap.values()}]],
                zones: [{
                    value: [[${lowSugarLine}]],
                    color: '#f75c5c'
                }, {
                    value: [[${highSugarLine}]],
                    color: '#94ec7c'
                }, {
                    color: '#ede47d'
                }]
            }]
        });
    });
</script>

</body>
</html>