<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="parts/headPart :: header">

</head>
<body>
<nav th:replace="parts/navbarPart :: navbar"></nav>
<div class="container mt-4">
    <!-- Include Bootstrap JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <h4>Diabetic Diary Notes</h4>

    <div class="card mb-2">
        <form method="GET" action="/notes">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <label for=fromDate class="form-label">From:</label>
                        <input type="date" class="form-control" id="fromDate" name="fromDate">
                    </div>
                    <div class="col-md-3">
                        <label for="toDate" class="form-label">To:</label>
                        <input type="date" class="form-control" id="toDate" name="toDate">
                    </div>
                    <div class="col-md-4 align-self-end align-items-end justify-content-end">
                        <a href="/notes?findFor=today" class="btn btn-primary mx-1">Today</a>
                        <a href="/notes?findFor=2days" class="btn btn-primary mx-1">For 2 days</a>
                        <a href="/notes?findFor=week" class="btn btn-primary mx-1">For week</a>
                        <a href="/notes?findFor=month" class="btn btn-primary mx-1">For month</a>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="text-begin">
                        <button class="btn btn-primary" type="submit" id="show-btn">Show</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

        <button th:if="${user != null && user.isAdmin()}" class="btn btn-primary mb-2 float-right" aria-expanded="false" type="button" data-toggle="collapse" data-target="#create-note-card"  aria-controls="create-note-card">
            Show creation form
        </button>
    <div class="card">

        <div th:class="${showNoteCreationForm} ? 'card-body' : 'card-body collapse'" id="create-note-card">
            <div class="card-body">
                <form id="create-note-form" method="POST" action="/notes/add" th:object="${noteToBeCreated}">
                    <h5>Create new note</h5>
                    <input type="hidden" th:field="*{id}" id="note-id">
                    <div class="form-group">
                        <label for="note-text">Note Text</label>
                        <textarea th:field="*{noteText}" class="form-control" id="note-text" name="noteText" rows="3" ></textarea>
                        <div th:if="${#fields.hasErrors('noteText')}" th:errors="*{noteText}" class="text-danger"></div>
                    </div>
                    <div class="form-group">
                        <label for="medications">Medications</label>
                        <textarea th:field="*{medications}" class="form-control" id="medications" name="medications" rows="1" ></textarea>
                        <div th:if="${#fields.hasErrors('medications')}" th:errors="*{medications}" class="text-danger"></div>
                    </div>
                    <div class="form-group">
                        <label for="mealType">Meal Type</label>
                        <select th:field="*{mealType}" class="form-control" id="mealType" name="mealType">
                            <option value="OTHER">OTHER</option>
                            <option value="BREAKFAST">BREAKFAST</option>
                            <option value="DINNER">DINNER</option>
                            <option value="SUPPER">SUPPER</option>
                        </select>
                        <div th:if="${#fields.hasErrors('mealType')}" th:errors="*{mealType}" class="text-danger"></div>
                    </div>
                    <div class="form-group">
                        <label for="mealType">Stress Level</label>
                        <select th:field="*{stressLevel}" class="form-control" id="stressLevel" name="stressLevel">
                            <option value="0" selected>No Stress: You feel calm and relaxed, without any worries or concerns.</option >
                            <option value="1">Low Stress: You are feeling slightly stressed or anxious, but it is manageable and not causing significant discomfort.</option>
                            <option value="2">Mild Stress: You are experiencing some stress or pressure, but you are still able to function and complete tasks.</option>
                            <option value="3">Moderate Stress: You are feeling stressed and overwhelmed, and it is affecting your ability to concentrate or perform tasks effectively.</option>
                            <option value="4">High Stress: You are experiencing significant stress and anxiety, and it is causing physical or emotional symptoms such as sweating, racing thoughts, or difficulty breathing.</option>
                            <option value="5">Extreme Stress: You are in a state of crisis and feeling completely overwhelmed, with severe physical and emotional symptoms such as panic attacks, chest pain, or shaking.</option>
                        </select>
                        <div th:if="${#fields.hasErrors('stressLevel')}" th:errors="*{stressLevel}" class="text-danger"></div>
                    </div>
                    <div class="form-group">
                        <label for="mealType">Exercise Level</label>
                        <select th:field="*{exerciseLevel}" class="form-control" id="exerciseLevel" name="exerciseLevel">
                            <option value="0" selected>No Exercise: You are not performing any physical activity or exercise.</option>
                            <option value="1">Low Exercise: You are engaging in light physical activity such as walking or stretching, for short durations.</option>
                            <option value="2">Mild Exercise: You are performing moderate physical activity such as cycling or dancing, for longer durations.</option>
                            <option value="3">Moderate Exercise: You are engaging in vigorous physical activity such as running or swimming, for short durations.</option>
                            <option value="4">High Exercise: You are performing intense physical activity such as weightlifting or interval training, for longer durations.</option>
                            <option value="5">Extreme Exercise: You are engaging in extremely intense physical activity such as competitive sports or marathon running, for extended periods of time.</option>
                        </select>
                        <div th:if="${#fields.hasErrors('exerciseLevel')}" th:errors="*{exerciseLevel}" class="text-danger"></div>
                    </div>
                    <div class="form-group">
                        <label for="weight">Weight</label>
                        <input th:field="*{weight}" type="number" step="0.1" min="0" class="form-control" id="weight" name="weight" >
                        <div th:if="${#fields.hasErrors('weight')}" th:errors="*{weight}" class="text-danger"></div>
                    </div>
                    <div class="form-group">
                        <label for="insulin-short-action">Insulin Short Action</label>
                        <input th:field="*{insulinShortAction}" type="number" step="0.1" min="0" class="form-control" id="insulin-short-action" name="insulinShortAction" >
                        <div th:if="${#fields.hasErrors('insulinShortAction')}" th:errors="*{insulinShortAction}" class="text-danger"></div>
                    </div>
                    <div class="form-group">
                        <label for="insulin-long-action">Insulin Long Action</label>
                        <input th:field="*{insulinLongAction}" type="number" step="0.1" min="0" class="form-control" id="insulin-long-action" name="insulinLongAction" >
                        <div th:if="${#fields.hasErrors('insulinLongAction')}" th:errors="*{insulinLongAction}" class="text-danger"></div>
                    </div>
                    <div class="form-group">
                        <label for="carbs">Carbs</label>
                        <input th:field="*{carbs}" type="number" step="0.1" class="form-control" id="carbs" name="carbs" >
                        <div th:if="${#fields.hasErrors('carbs')}" th:errors="*{carbs}" class="text-danger"></div>
                    </div>
                    <div class="form-group">
                        <label for="calories">Calories</label>
                        <input th:field="*{calories}" type="number" step="0.1" min="0" class="form-control" id="calories" name="calories" >
                        <div th:if="${#fields.hasErrors('calories')}" th:errors="*{calories}" class="text-danger"></div>
                    </div>
                    <div class="form-group">
                        <label for="blood-glucose-level" th:text="'Blood Glucose Level in ' + ${profile.getUnits().equals('mmol') ? 'Mmol/L' : 'mg/dl'}">Blood Glucose Level</label>
                        <input th:field="*{bloodGlucoseLevel}" type="number" step="0.1" min="0" class="form-control" id="blood-glucose-level" name="bloodGlucoseLevel" >
                        <div th:if="${#fields.hasErrors('bloodGlucoseLevel')}" th:errors="*{bloodGlucoseLevel}" class="text-danger"></div>
                    </div>
                    <button type="submit" class="btn btn-primary mt-1">Create note</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Iterate through the list of notes and create a card for each one -->
    <div th:each="note : ${notes}" class="card my-4">
        <div class="card-body">
            <h5 class="card-title" th:text="${note.mealType}"></h5>
            <p class="card-text">
                <strong>Note:</strong> <span th:text="${note.noteText}"></span><br>
                <strong>Medications:</strong> <span th:text="${note.medications}"></span><br>
                <strong>Exercise Level:</strong>
                <span th:each="arm : ${#numbers.sequence(1,note.exerciseLevel)}" th:classappend="${note.exerciseLevel >= arm} ? 'text-warning' : 'text-secondary'">&#x1F4AA;</span><br>
                <strong>Stress Level:  </strong>
                <span th:each="stressEmoJi : ${#numbers.sequence(1,note.stressLevel)}" th:classappend="${note.stressLevel >= stressEmoJi} ? 'text-warning' : 'text-secondary'">&#x1F630;</span><br>
                <strong>Weight:</strong> <span th:text="${note.weight}"></span><br>
                <strong>Insulin (Short Action):</strong> <span th:text="${note.insulinShortAction}"></span><br>
                <strong>Insulin (Long Action):</strong> <span th:text="${note.insulinLongAction}"></span><br>
                <strong>Carbs:</strong> <span th:text="${note.carbs}"></span><br>
                <strong>Calories:</strong> <span th:text="${note.calories}"></span><br>
                <strong>Blood Glucose Level:</strong> <span th:text="${note.bloodGlucoseLevel}"></span><br>
                <a th:if="${user != null && user.isAdmin()}" class="btn btn-primary mt-2" th:href="@{/notes/update/{id}(id=${note.id})}">Edit</a>
                <a th:if="${user != null && user.isAdmin()}" class="btn btn-danger mt-2" th:href="@{/notes/delete/{id}(id=${note.id})}">Delete</a>
            </p>
        </div>
    </div>
</div>
</body>
</html>