<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="parts/headPart :: header"></head>
<body>
<nav th:replace="parts/navbarPart :: navbar"></nav>
<div class="container">
    <h1 th:text="#{profile.header}" class="my-5">Settings</h1>
    <form method="POST" action="/settings/update">
        <div class="card my-4">
            <h5 th:text="#{profile.language}" class="card-header">Language</h5>
            <div class="card-body">
                <div class="btn-group">
                    <div class="dropdown">
                        <button th:text="#{profile.english}"  class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            English
                        </button>
                        <div th:text="#{profile.ukrainian}"  class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/settings?lang=uk">Ukrainian</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card my-4">
            <div class="card-header">
                <h5 th:text="#{profile.units}" class="card-title">Units</h5>
            </div>
            <div class="card-body">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="units" id="mmol" value="mmol"
                           th:checked="${preferableUnits == 'mmol'}">
                    <label class="form-check-label" for="mmol">
                        mmol/L
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="units" id="mgdl" value="mgdl"
                           th:checked="${preferableUnits == 'mgdl'}">
                    <label class="form-check-label" for="mgdl">
                        mg/dL
                    </label>
                </div>
            </div>
        </div>
        <div class="card my-4">
            <div class="card-header">
                <h5 th:text="#{profile.dateformat}" class="card-title">Date format</h5>
            </div>
            <div class="card-body">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="hours" id="12hoursDateFormat" value="12"
                           th:checked="${preferableTimeFormat == 12}">
                    <label th:text="'12' + ' ' + #{profile.hours}" class="form-check-label" for="12hoursDateFormat">
                        12 hours
                    </label>
                </div>
                <div class="form-check">
                    <!--If it is not 12 then put it 24, maybe somewhere I forgot to setup value for that radioBox-->
                    <input class="form-check-input" type="radio" name="hours" id="24hoursDateFormat" value="24"
                           th:checked="${preferableTimeFormat == 24}">
                    <label th:text="'24' + ' ' + #{profile.hours}" class="form-check-label" for="24hoursDateFormat">
                        24 hours
                    </label>
                </div>
            </div>
        </div>
        <div class="card my-4">
            <div class="card-header">
                <h5 th:text="#{profile.enableAlarmsCardHeader}" class="card-title">Enable Alarms</h5>
            </div>
            <div class="card-body">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="highAlertSoundEnabled"
                           id="highAlertSoundEnabled" value="true" th:checked="${highAlertSoundEnabled} ? 'checked' : ''">
                    <label th:text="#{profile.highAlertSoundEnabled}" class="form-check-label" for="highAlertSoundEnabled">
                        High alert sound enabled
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="lowAlertSoundEnabled"
                           id="lowAlertSoundEnabled" value="true" th:checked="${lowAlertSoundEnabled} ? 'checked' : ''">
                    <label th:text="#{profile.lowAlertSoundEnabled}" class="form-check-label" for="lowAlertSoundEnabled">
                        Low alert sound enabled
                    </label>
                </div>
            </div>
        </div>
        <div class="card my-4">
            <div class="card-header">
                <h5 th:text="#{profile.bloodSugarCardHeader}" class="card-title">Blood Sugar Limits</h5>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label th:text="#{profile.bloodSugarLowerBoundLabel}" for="lowerBoundNum">Lower bound</label>
                    <input type="number" step="0.1" class="form-control" name="lowerBoundNum" id="lowerBoundNum" th:value="${lowerBoundNum != 0 ? lowerBoundNum : (preferableUnits == 'mgdl' ? 70 : 3.9)}">
                </div>
                <div class="form-group">
                    <label th:text="#{profile.bloodSugarHighBoundLabel}" for="highBoundNum">High bound</label>
                    <input type="number" step="0.1" class="form-control" name="highBoundNum" id="highBoundNum" th:value="${highBoundNum != 0 ? highBoundNum : (preferableUnits == 'mgdl' ? 180 : 9.9)}">
                </div>
            </div>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end my-4">
            <button th:text="#{profile.saveChangesButtonText}" class="btn btn-primary me-md-2" type="submit">Save changes</button>
        </div>
    </form>
</div>
</body>
</html>

