<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="parts/headPart :: header"></head>
<body>
<nav th:replace="parts/navbarPart :: navbar"></nav>
<div class="container">
    <h4 th:text="#{profile.header}">Settings</h4>
    <form method="POST" action="/settings/update">
        <div class="card my-4">
            <div class="card-header">
                <h5 th:text="#{profile.language}" class="card-title">Language</h5>
            </div>
            <div class="card-body bg-light">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="language" id="ukrainian" value="UK"
                           th:checked="${profile.getLanguage() == 'UK'}">
                    <label th:text="#{profile.ukrainian}"  class="form-check-label" for="ukrainian">
                        Ukrainian
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="language" id="english" value="EN"
                           th:checked="${profile.getLanguage() == 'EN'}">
                    <label th:text="#{profile.english}"  class="form-check-label" for="english">
                        English
                    </label>
                </div>
            </div>
        </div>
        <div class="card my-4">
            <div class="card-header">
                <h5 th:text="#{profile.units}" class="card-title">Units</h5>
            </div>
            <div class="card-body bg-light">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="units" id="mmol" value="mmol"
                           th:checked="${preferableUnits == 'mmol'}">
                    <label class="form-check-label" for="mmol">
                        mmol/L
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="units" id="mgdl" value="mgdl"
                           th:checked="${preferableUnits == 'mgdl'}">
                    <label class="form-check-label" for="mgdl">
                        mg/dL
                    </label>
                </div>
            </div>
        </div>
        <div class="card my-4">
            <div class="card-header">
                <h5 th:text="#{profile.bloodSugarCardHeader}" class="card-title">Blood Sugar Limits</h5>
            </div>
            <div class="card-body bg-light">
                <div class="form-group">
                    <label th:text="#{profile.bloodSugarLowerBoundLabel}" for="lowerBoundNum">Lower bound</label>
                    <input type="number" step="0.1" class="form-control" name="lowerBoundNum" id="lowerBoundNum" th:value="${lowerBoundNum != 0 ? lowerBoundNum : (preferableUnits == 'mgdl' ? 70 : 3.9)}">
                </div>
                <div class="form-group">
                    <label th:text="#{profile.bloodSugarHighBoundLabel}" for="highBoundNum">High bound</label>
                    <input type="number" step="0.1" class="form-control" name="highBoundNum" id="highBoundNum" th:value="${highBoundNum != 0 ? highBoundNum : (preferableUnits == 'mgdl' ? 180 : 9.9)}">
                </div>
            </div>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end my-4">
            <button th:text="#{profile.saveChangesButtonText}" class="btn btn-primary me-md-2" type="submit">Save changes</button>
        </div>
    </form>
</div>
</body>
</html>

