<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="parts/headPart :: header"></head>
<body>
<nav th:replace="parts/navbarPart :: navbar"></nav>
<div class="container px-1">
    <h4>SugarMonitor reporting</h4>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="day-to-day-tab" data-bs-toggle="tab" data-bs-target="#day-to-day" type="button" role="tab" aria-controls="day-to-day" aria-selected="true">Day to Day</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="week-to-week-tab" data-bs-toggle="tab" data-bs-target="#week-to-week" type="button" role="tab" aria-controls="week-to-week" aria-selected="false">Week to Week</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="general-tab" data-bs-toggle="tab" data-bs-target="#general" type="button" role="tab" aria-controls="general" aria-selected="false">General</button>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane fade show active" id="day-to-day" role="tabpanel" aria-labelledby="day-to-day-tab">
            <div class="card mt-3">
                <form method="GET" action="/report/daytoday">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <label for=fromDate class="form-label">From:</label>
                            <input type="date" class="form-control" id="fromDate" name="fromDate">
                        </div>
                        <div class="col-md-3">
                            <label for="toDate" class="form-label">To:</label>
                            <input type="date" class="form-control" id="toDate" name="toDate">
                        </div>
                        <div class="col-md-3 align-self-end">
                            <a href="/report/daytoday?generateFor=today" class="btn btn-primary">Today</a>
                        </div>
                        <div class="col-md-3 align-self-end">
                            <a href="/report/daytoday?generateFor=2days" class="btn btn-primary">For 2 days</a>
                        </div>
                    </div>
                    <div class="row mt-2" >
                    <div class="text-begin">
                        <button class="btn btn-primary" type="submit" id="show-btn">Show</button>
                    </div>
                    </div>
                </div>
                </form>
            </div>
            <div th:each="outerMap : ${map}">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${outerMap.key}"></h5>
                        <div id="line-chart"
                             th:attr="data-categories=${outerMap.value.keySet()},
                    data-values=${outerMap.value.values()},
                    data-low-sugar-line=${lowSugarLine},
                    data-high-sugar-line=${highSugarLine}">
                        </div><script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                        <script
                                src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
                        <!-- Latest compiled and minified JavaScript -->
                        <script
                                src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
                        <script src="https://code.highcharts.com/highcharts.js"></script>
                        <script src="https://code.highcharts.com/modules/exporting.js"></script>
                        <script>
                            // Iterate through all the sugarMap elements
                            document.querySelectorAll("#line-chart").forEach(function(element) {
                                // Parse the chart data from the HTML data attributes
                                var categories = element.getAttribute("data-categories").split(",");
                                var values = element.getAttribute("data-values").split(",");
                                var lowSugarLine = element.getAttribute("data-low-sugar-line");
                                var highSugarLine = element.getAttribute("data-high-sugar-line");

                                // Convert the values array to numbers
                                for (var i = 0; i < values.length; i++) {
                                    values[i] = parseFloat(values[i]);
                                }

                                // Create the chart
                                Highcharts.chart(element, {
                                    chart: {
                                        type: 'line'
                                    },
                                    title: {
                                        text: null
                                    },
                                    xAxis: {
                                        categories: categories,
                                        crosshair: true,
                                    },
                                    yAxis: {
                                        title: {
                                            text: 'Sugar Level'
                                        },
                                        plotLines: [{
                                            value: lowSugarLine,
                                            color: '#f75c5c',
                                            dashStyle: 'shortdash',
                                            width: 2,
                                            label: {
                                                text: '',
                                                align: 'center',
                                                style: {
                                                    color: '#f75c5c'
                                                }
                                            }
                                        }, {
                                            value: highSugarLine,
                                            color: '#94ec7c',
                                            dashStyle: 'shortdash',
                                            width: 2,
                                            label: {
                                                text: '',
                                                align: 'center',
                                                style: {
                                                    color: 'rgba(255,234,0,0.89)'
                                                }
                                            }
                                        }]
                                    },
                                    series: [{
                                        name: '',
                                        data: values,
                                        zones: [{
                                            value: lowSugarLine,
                                            color: '#f75c5c'
                                        }, {
                                            value: highSugarLine,
                                            color: '#94ec7c'
                                        }, {
                                            color: '#ede47d'
                                        }]
                                    }]
                                });
                            });
                        </script>
                    </div>
                </div>
            </div>

        </div>

        <div class="tab-pane fade" id="week-to-week" role="tabpanel" aria-labelledby="week-to-week-tab">
            <p>Week to Week content goes here</p>
        </div>

        <div class="tab-pane fade" id="general" role="tabpanel" aria-labelledby="general-tab">
            <p>General content goes here</p>
        </div>
    </div>
</div>
<!-- jQuery library -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<!-- Highcharts library -->
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
</body>
</html>