<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="parts/headPart :: header"></head>
<body>
<nav th:replace="parts/navbarPart :: navbar"></nav>
<div class="container px-1">
    <h4 th:text="#{report.title}">SugarMonitor reporting</h4>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button th:class="${dayToDayTabActive} ? 'nav-link active' : 'nav-link'" id="day-to-day-tab" data-bs-toggle="tab" data-bs-target="#day-to-day"
                    type="button" role="tab" aria-controls="day-to-day" th:attr="aria-selected=${dayToDayTabActive} ? 'true' : 'false'" th:text="#{report.dayToDayTabHeader}">Day to Day
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button th:class="${weekToWeekTabActive} ? 'nav-link active' : 'nav-link'" id="week-to-week-tab" data-bs-toggle="tab" data-bs-target="#week-to-week"
                    type="button" role="tab" aria-controls="week-to-week" th:attr="aria-selected=${weekToWeekTabActive} ? 'true' : 'false'" th:text="#{report.weekToWeekTabHeader}">Week to Week
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button th:class="${generalTabActive} ? 'nav-link active' : 'nav-link'" id="general-tab" data-bs-toggle="tab" data-bs-target="#general" type="button"
                    role="tab" aria-controls="general" th:attr="aria-selected=${generalTabActive} ? 'true' : 'false'" th:text="#{report.generalTabHeader}">General
            </button>
        </li>
    </ul>


    <!-- Tab panes -->
    <div class="tab-content">
        <div th:class="${dayToDayTabActive} ? 'tab-pane fade show active' : 'tab-pane fade'" id="day-to-day" role="tabpanel" aria-labelledby="day-to-day-tab">
            <div class="card mb-2">
                <form method="GET" action="/report/daytoday">
                    <div class="card-body bg-light">
                        <div class="row">
                            <div class="col-md-3">
                                <label for=fromDate class="form-label" th:text="#{report.from}">From:</label>
                                <input type="date" class="form-control" id="fromDate" name="fromDate">
                            </div>
                            <div class="col-md-3">
                                <label for="toDate" class="form-label" th:text="#{report.to}">To:</label>
                                <input type="date" class="form-control" id="toDate" name="toDate">
                            </div>
                            <div class="col-md-4 align-self-end align-items-end justify-content-end">
                                <a href="/report/daytoday?generateFor=today" class="btn btn-info btn-gradient mx-1" th:text="#{report.today}">Today</a>
                                <a href="/report/daytoday?generateFor=2days" class="btn btn-info btn-gradient mx-1" th:text="#{report.for2days}">For 2 days</a>
                                <a href="/report/daytoday?generateFor=week" class="btn btn-info btn-gradient mx-1" th:text="#{report.forWeek}">For week</a>
                                <a href="/report/daytoday?generateFor=month" class="btn btn-info btn-gradient mx-1" th:text="#{report.forMonth}">For month</a>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="text-begin">
                                <button class="btn btn-info btn-gradient" type="submit" id="show-btn" th:text="#{report.showButton}">Show</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div th:each="outerMap : ${map}">
                <div class="card mb-2">
                    <div class="card-body bg-light">
                        <h5 class="card-title" th:text="${outerMap.key}"></h5>
                        <div id="line-chart"
                             th:attr="data-categories=${outerMap.value.keySet()},
                    data-values=${outerMap.value.values()},
                    data-low-sugar-line=${lowSugarLine},
                    data-high-sugar-line=${highSugarLine}">
                        </div><script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                        <script
                                src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
                        <!-- Latest compiled and minified JavaScript -->
                        <script
                                src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
                        <script src="https://code.highcharts.com/highcharts.js"></script>
                        <script src="https://code.highcharts.com/modules/exporting.js"></script>
                        <script>
                            // Iterate through all the sugarMap elements
                            document.querySelectorAll("#line-chart").forEach(function (element) {
                                // Parse the chart data from the HTML data attributes
                                var categories = element.getAttribute("data-categories").split(",");
                                const categoriesData = categories.map(item=>{
                                    return item.trim().replace("[", "").replace("]", "")
                                })

                                var values = element.getAttribute("data-values").split(",").map(Number); // Convert values to numbers
                                var lowSugarLine = parseFloat(element.getAttribute("data-low-sugar-line")); // Convert to number
                                var highSugarLine = parseFloat(element.getAttribute("data-high-sugar-line")); // Convert to number

                                // Validate parsed values
                                if (isNaN(lowSugarLine) || isNaN(highSugarLine)) {
                                    console.error("Invalid low or high sugar line values:", { lowSugarLine, highSugarLine });
                                    return; // Stop processing if the values are invalid
                                }

                                // Create the chart
                                Highcharts.chart(element, {
                                    chart: {
                                        type: 'line'
                                    },
                                    legend: {
                                        enabled: false
                                    },
                                    title: {
                                        text: ''
                                    },
                                    credits: {
                                        enabled: false
                                    },
                                    subtitle: {
                                        text: ''
                                    },
                                    xAxis: {
                                        categories: categoriesData,
                                        crosshair: true,
                                    },
                                    yAxis: {
                                        title: {
                                            text: ''
                                        },
                                        plotLines: [{
                                            value: lowSugarLine,
                                            color: '#f75c5c',
                                            dashStyle: 'shortdash',
                                            width: 2,
                                            label: {
                                                text: '',
                                                align: 'center',
                                                style: {
                                                    color: '#f75c5c'
                                                }
                                            }
                                        }, {
                                            value: highSugarLine,
                                            color: '#ffea00',
                                            dashStyle: 'shortdash',
                                            width: 2,
                                            label: {
                                                text: '',
                                                align: 'center',
                                                style: {
                                                    color: '#ffea00'
                                                }
                                            }
                                        }]
                                    },
                                    plotOptions: {
                                        series: {
                                            lineWidth: 3
                                        }
                                    },
                                    series: [{
                                        name: '',
                                        data: values,
                                        zones: [{
                                            value: lowSugarLine,
                                            color: '#f75c5c'
                                        }, {
                                            value: highSugarLine,
                                            color: '#94ec7c'
                                        }, {
                                            color: '#ede47d'
                                        }]
                                    }]
                                });
                            });
                        </script>
                    </div>
                </div>
            </div>

        </div>

        <div th:class="${weekToWeekTabActive} ? 'tab-pane fade show active' : 'tab-pane fade'" id="week-to-week" role="tabpanel" aria-labelledby="week-to-week-tab">
            <div class="card mb-2">
                <form method="GET" action="/report/weektoweek">
                    <div class="card-body bg-light">
                        <div class="row">
                            <div class="col-md-3">
                                <label for=fromDateWeek class="form-label">From:</label>
                                <input type="date" class="form-control" id="fromDateWeek" name="fromDateWeek">
                            </div>
                            <div class="col-md-3">
                                <label for="toDateWeek" class="form-label">To:</label>
                                <input type="date" class="form-control" id="toDateWeek" name="toDateWeek">
                            </div>
                            <div class="col-md-6 align-self-end align-items-end justify-content-end">
                                <a href="/report/weektoweek?generateFor=week" class="btn btn-info btn-gradient mx-1" th:text="#{report.thisWeek}">This week</a>
                                <a href="/report/weektoweek?generateFor=2weeks" class="btn btn-info btn-gradient mx-1" th:text="#{report.for2weeks}">For 2
                                    weeks</a>
                                <a href="/report/weektoweek?generateFor=month" class="btn btn-info btn-gradient mx-1" th:text="#{report.forMonth}">For
                                    month</a>
                                <a href="/report/weektoweek?generateFor=3months" class="btn btn-info btn-gradient mx-1" th:text="#{report.for3Months}">For 3
                                    months</a>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="text-begin">
                                <button class="btn btn-info btn-gradient" type="submit" id="show-btn-week" th:text="#{report.showButton}">Show</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div th:each="dto : ${dtos}">
                <div class="card mb-2">
                    <div class="card-body bg-light">
                        <h5 class="card-title" th:text="${dto.weekTitle}"></h5>
                        <div id="week-chart"
                             th:attr="monday-values=${dto.getMondayEntries().entrySet()},
                         tuesday-values=${dto.getTuesdayEntries().entrySet()},
                         wednesday-values=${dto.getWednesdayEntries().entrySet()},
                         thursday-values=${dto.getThursdayEntries().entrySet()},
                         friday-values=${dto.getFridayEntries().entrySet()},
                         saturday-values=${dto.getSaturdayEntries().entrySet()},
                         sunday-values=${dto.getSundayEntries().entrySet()},
                    data-low-sugar-line=${lowSugarLine},
                    data-high-sugar-line=${highSugarLine},
                    monday=#{report.monday},
                    tuesday=#{report.tuesday},
                    wednesday=#{report.wednesday},
                    thursday=#{report.thursday},
                    friday=#{report.friday},
                    saturday=#{report.saturday},
                    sunday=#{report.sunday}">
                        </div><script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                        <script
                                src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
                        <!-- Latest compiled and minified JavaScript -->
                        <script
                                src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
                        <script src="https://code.highcharts.com/highcharts.js"></script>
                        <script src="https://code.highcharts.com/modules/exporting.js"></script>
                        <script>
                            // Iterate through all the sugarMap elements
                            document.querySelectorAll("#week-chart").forEach(function (element) {
                                // Parse the chart data from the HTML data attributes
                                var mondayValues = element.getAttribute("monday-values").split(",");
                                const mondayData = mondayValues.map(item=>{
                                    const arr = item.split("=");
                                    return [arr[0].trim().replace("[", "").replace("]", ""), Number(arr[1])]
                                })
                                var tuesdayValues = element.getAttribute("tuesday-values").split(",");
                                const tuesdayData = tuesdayValues.map(item=>{
                                    const arr = item.split("=");
                                    return [arr[0].trim().replace("[", "").replace("]", ""), Number(arr[1])]
                                })
                                var wednesdayValues = element.getAttribute("wednesday-values").split(",");
                                const wednesdayData = wednesdayValues.map(item=>{
                                    const arr = item.split("=");
                                    return [arr[0].trim().replace("[", "").replace("]", ""), Number(arr[1])]
                                })
                                var thursdayValues = element.getAttribute("thursday-values").split(",");
                                const thursdayData = thursdayValues.map(item=>{
                                    const arr = item.split("=");
                                    return [arr[0].trim().replace("[", "").replace("]", ""), Number(arr[1])]
                                })
                                var fridayValues = element.getAttribute("friday-values").split(",");
                                const fridayData = fridayValues.map(item=>{
                                    const arr = item.split("=");
                                    return [arr[0].trim().replace("[", "").replace("]", ""), Number(arr[1])]
                                })
                                var saturdayValues = element.getAttribute("saturday-values").split(",");
                                const saturdayData = saturdayValues.map(item=>{
                                    const arr = item.split("=");
                                    return [arr[0].trim().replace("[", "").replace("]", ""), Number(arr[1])]
                                })
                                var sundayValues = element.getAttribute("sunday-values").split(",");
                                const sundayData = sundayValues.map(item=>{
                                    const arr = item.split("=");
                                    return [arr[0].trim().replace("[", "").replace("]", ""), Number(arr[1])]
                                })
                                var lowSugarLine = element.getAttribute("data-low-sugar-line");
                                var highSugarLine = element.getAttribute("data-high-sugar-line");
                                console.log(element.getAttribute("friday"));
                                // Create the chart
                                Highcharts.chart(element, {
                                    chart: {
                                        type: 'line'
                                    },
                                    legend: {
                                        enabled: true
                                    },
                                    title: {
                                        text: ''
                                    },
                                    credits: {
                                        enabled: false
                                    },
                                    subtitle: {
                                        text: ''
                                    },
                                    xAxis: {},
                                    yAxis: {
                                        title: {
                                            text: ''
                                        },
                                        plotLines: [{
                                            value: lowSugarLine,
                                            color: '#f75c5c',
                                            dashStyle: 'shortdash',
                                            width: 2,
                                            label: {
                                                text: '',
                                                align: 'center',
                                                style: {
                                                    color: '#f75c5c'
                                                }
                                            }
                                        }, {
                                            value: highSugarLine,
                                            color: '#ffea00',
                                            dashStyle: 'shortdash',
                                            width: 2,
                                            label: {
                                                text: '',
                                                align: 'center',
                                                style: {
                                                    color: '#ffea00'
                                                }
                                            }
                                        }]
                                    },
                                    tooltip: {
                                        headerFormat: '<span style="font-size:14px">{point.key}</span><table>',
                                        pointFormat: '<tr><td id="point-color" style="color:{series.color}; padding:0">{series.name}: </td>' +
                                            '<td style="padding:0"><b>{point.y:.1f} [[${profile.getUnits()}]]</b></td></tr>',
                                        footerFormat: '</table>',
                                        shared: true,
                                        useHTML: true
                                    },
                                    plotOptions: {
                                        series: {
                                            lineWidth: 2
                                        }
                                    },
                                    series: [{
                                        name: element.getAttribute("monday"),
                                        data: mondayData,
                                        color: '#9c27b0'
                                    },{
                                        name: element.getAttribute("tuesday"),
                                        data: tuesdayData,
                                        color: '#673ab7'
                                    },{
                                        name: element.getAttribute("wednesday"),
                                        data: wednesdayData,
                                        color: '#3f51b5'
                                    },{
                                        name: element.getAttribute("thursday"),
                                        data: thursdayData,
                                        color: '#2196f3'
                                    },{
                                        name: element.getAttribute("friday"),
                                        data: fridayData,
                                        color: '#00bcd4'
                                    },{
                                        name: element.getAttribute("saturday"),
                                        data: saturdayData,
                                        color: '#009688'
                                    },{
                                        name: element.getAttribute("sunday"),
                                        data: sundayData,
                                        color: '#9272c9'
                                    }]
                                });
                            });
                        </script>
                    </div>
                </div>
            </div>

        </div>
        </div>



    <div th:class="${generalTabActive} ? 'tab-pane fade show active' : 'tab-pane fade'" id="general" role="tabpanel" aria-labelledby="general-tab">
        <div class="card mb-2">
            <form method="GET" action="/report/general">
                <div class="card-body bg-light">
                    <div class="row">
                        <div class="col-md-3">
                            <label for=fromDateGeneral class="form-label" th:text="#{report.from}">From:</label>
                            <input type="date" class="form-control" id="fromDateGeneral" name="fromDateGeneral">
                        </div>
                        <div class="col-md-3">
                            <label for="toDateGeneral" class="form-label" th:text="#{report.to}">To:</label>
                            <input type="date" class="form-control" id="toDateGeneral" name="toDateGeneral">
                        </div>
                        <div class="col-md-6 align-self-end align-items-end justify-content-end">
                            <a href="/report/general?generateFor=today" class="btn btn-info btn-gradient mx-1" th:text="#{report.today}">Today</a>
                            <a href="/report/general?generateFor=2days" class="btn btn-info btn-gradient mx-1" th:text="#{report.for2days}">For 2 days</a>
                            <a href="/report/general?generateFor=week" class="btn btn-info btn-gradient mx-1" th:text="#{report.forWeek}">For week</a>
                            <a href="/report/general?generateFor=month" class="btn btn-info btn-gradient mx-1" th:text="#{report.forMonth}">For month</a>
                            <a href="/report/general?generateFor=3months" class="btn btn-info btn-gradient mx-1" th:text="#{report.for3Months}">For 3 months</a>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="text-begin">
                            <button class="btn btn-info btn-gradient" type="submit" id="show-btn-general" th:text="#{report.showButton}">Show</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div th:if="${report != null}" class="card">
            <div class="card-body bg-light">
                <div class="row">
                    <div class="col-md-6">
                        <div th:attr="high=#{report.high},low=#{report.low},inRange=#{report.inRange},percents=#{report.percents}"
                             id="pieChart"></div>
                        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                        <script
                                src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
                        <!-- Latest compiled and minified JavaScript -->
                        <script
                                src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
                        <script src="https://code.highcharts.com/highcharts.js"></script>
                        <script src="https://code.highcharts.com/modules/exporting.js"></script>
                        <script>
                            document.querySelectorAll("#pieChart").forEach(function (element) {
                                // HighCharts pie chart
                                Highcharts.chart(element, {
                                    chart: {
                                        type: 'pie'
                                    },
                                    title: {
                                        text: '[[${report.name}]]'
                                    },
                                    credits: {
                                        enabled: false
                                    },
                                    series: [{
                                        name: element.getAttribute("percents"),
                                        data: [{
                                            name: element.getAttribute("low"),
                                            y: [[${report.lowSugarPercentage}]],
                                            color: '#FF0000'
                                        }, {
                                            name: element.getAttribute("inRange"),
                                            y: [[${report.inRangeSugarPercentage}]],
                                            color: '#00FF00'
                                        }, {
                                            name: element.getAttribute("high"),
                                            y: [[${report.highSugarPercentage}]],
                                            color: '#FFFF00'
                                        }]
                                    }]
                                });
                            });
                        </script>
                    </div>
                    <div class="col-md-6">
                        <table class="table">
                            <thead>
                            <tr>
                                <th th:text="#{report.rangeColumnTitle}">Range</th>
                                <th th:text="#{report.percentOfReadingsColumnTitle}">% of Readings</th>
                                <th th:text="#{report.numOfReadingsColumnTitle}"># of Readings</th>
                                <th th:text="#{report.average}">Average</th>
                                <th th:text="#{report.median}">Median</th>
                                <th th:text="#{report.stdDev}">Standard Deviation</th>
                                <th th:text="#{report.a1cEst}">A1c estimation*</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td th:text="'(' + #{report.low} +  '<' + ${profile.getLowerBoundLimit()} + ')'">-</td>
                                <td th:text="${report.getLowSugarPercentage()}">-</td>
                                <td th:text="${report.getNumOfLowEntries()}">-</td>
                                <td th:text="${report.getAverageLow()}">-</td>
                                <td th:text="${report.getMedianLow()}">-</td>
                                <td th:text="${report.getStdDevLow()}">-</td>
                                <td ></td>
                            </tr>
                            <tr>
                                <td th:text="#{report.inRange}"></td>
                                <td th:text="${report.getInRangeSugarPercentage()}">-</td>
                                <td th:text="${report.getNumOfInRangeEntries()}">-</td>
                                <td th:text="${report.getAverageInRange()}">-</td>
                                <td th:text="${report.getMedianInRange()}">-</td>
                                <td th:text="${report.getStdDevInRange()}">-</td>
                                <td ></td>
                            </tr>
                            <tr>
                                <td th:text="'(' + #{report.high} +  '<' + ${profile.getHighBoundLimit()} + ')'">-</td>
                                <td th:text="${report.getHighSugarPercentage()}">-</td>
                                <td th:text="${report.getNumOfHighEntries()}">-</td>
                                <td th:text="${report.getAverageHigh()}">-</td>
                                <td th:text="${report.getMedianHigh()}">-</td>
                                <td th:text="${report.getStdDevHigh()}">-</td>
                                <td ></td>
                            </tr>
                            <tr>
                                <td>Overall</td>
                                <td>100%</td>
                                <td th:text="${report.getTotalEntries()}">-</td>
                                <td th:text="${report.getAverageTotal()}">-</td>
                                <td th:text="${report.getMedianInTotal()}">-</td>
                                <td th:text="${report.getStdDevTotal()}">-</td>
                                <td th:text="${report.getHbA1cTotal()} + '%'">-</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<!-- Highcharts library -->
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

</body>
</html>