<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="headPart :: header"></head>
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/static">SugarMonitor</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/main">main</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/user">users</a>
            </li>

        <li class="nav-item">
            <a class="nav-link" href="/employer/invite">inviteEmployee</a>
        </li>

    <li class="nav-item">
        <a class="nav-link" href="/company">companyPage</a>
    </li>

<li class="nav-item">
    <a class="nav-link" href="/user/profile">profile</a>
</li>

</ul>

<div class="navbar-text mr-3">name</div>

</div>
</nav>
</html>